// Colors
$cl-white: #fff;
$cl-black: #424344;
$cl-light-blue: #f3f9fb;
$cl-grey: #6b767a;
$cl-dark-grey: #323232;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;


// Spacing
$spacing__0-7: 0.7rem;
$spacing__1-5: 1.5rem;
$spacing__2-5: 2.5rem;
$spacing__5: 5rem;

// borders
$border-radius: 0.5rem;
